.header {
  min-height: 80px;
  background-color: lightpink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
  .header__title {
    font-weight: bold;
    font-size: xx-large;
    color: rgb(240, 81, 124);
  }
  a {
    text-decoration: none;
  }
  .header__loginButton {
    background-color: rgb(240, 81, 124);
    color: #ffffff;
    height: 40px;
    padding: 12px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
  }

  .header__userName {
    font-weight: bold;
    padding-right: 12px;
  }

  .header__buttonContainer {
    display: flex;
    align-items: center;
  }

  .header__logoutButton {
    color: rgb(240, 81, 124);
    background-color: lightpink;
    height: 40px;
    padding: 12px;
    border-radius: 5px;
    border: solid rgb(240, 81, 124);
    font-weight: bold;
  }
}
