.signUp {
  max-width: 500px;
  width: 80%;
  margin: 0 auto;

  .form-item {
    margin-bottom: 24px;
  }

  .input {
    width: 100%;
    font-size: large;
    min-height: 32px;
  }

  .signUp-button-container {
    text-align: center;
    padding-top: 24px;
  }

  .signUp-button {
    background-color: goldenrod;
    color: #ffffff;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
  }

  .error-message {
    color: #ff3333;
  }
}
